<h1>Nouvelle Catégories</h1>

<%= form_with model:@category do |f| %>

<div class="form-group">
    <%= f.text_field :name, placeholder: 'nom', class:"form-control" %>
    </div>

    <div class="form-group">
    <%= f.text_field :slug, placeholder: 'url', class:"form-control" %>
    </div>

    <div class="form-group">
    <button class="btn btn-primary" type="submit">Crée la categorie</button>

<% end %>

